{{- $href := .Permalink -}}
{{- with .Store.Get "paginator" -}}
  {{- $href = .URL | absURL -}}
{{- end -}}

{{- /* 1. Precompute static author & publisher data once at the top */ -}}
{{- $authorName := .Site.Author.name | default "Author" -}}
{{- $authorUrl := "https://www.practicalmachinist.com/forum/members/sbs.149146/" -}}
{{- $logo := $.Scratch.Get "authorPicture" -}}

{{- /* 2. THE BOTTLENECK FIX: Prioritize front-matter descriptions to avoid triggering .Summary */ -}}
{{- $desc := .Description | default .Params.summary -}}
{{- if not $desc -}}
  {{- if .IsPage -}}
    {{- $desc = .Summary | plainify -}}
  {{- else -}}
    {{- $desc = .Site.Params.description -}}
  {{- end -}}
{{- end -}}

{{- /* 3. Precompute Breadcrumb dictionaries cleanly in Go memory */ -}}
{{- $breadcrumbs := slice -}}
{{- if or ($.Scratch.Get "taxonomy_home") (eq .Section "posts") -}}
  {{- $i := 1 -}}
  {{- range after 1 .Ancestors.Reverse -}}
    {{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" $i "name" .Title "item" .Permalink) -}}
    {{- $i = add $i 1 -}}
  {{- end -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" $i "name" .Title "item" .Permalink) -}}
{{- end -}}

<script type="application/ld+json">
{{- if .IsHome -}}
  {{- /* Home page(s) of site */ -}}
  {  
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": {{ $href | jsonify }},
    "author": {
      "@type": "Person",
      "name": {{ $authorName | jsonify }},
      "url": {{ $authorUrl | jsonify }}
    },
    "name": {{ .Site.Title | jsonify }},
    "description": {{ $desc | jsonify }},
    "keywords": {{ partial "kwlist.html" . }}
  }
{{- else if .Scratch.Get "taxonomy_home" -}}
  {{- /* Home page of a taxonomy term */ -}}
  {  
    "@context": "http://schema.org",
    "@type": "WebPage",
    "url": {{ $href | jsonify }},
    "inLanguage": {{ .Lang | jsonify }},
    "name": {{ .Title | jsonify }},
    "description": {{ $desc | jsonify }},
    "keywords": {{ partial "kwlist.html" . }},
    "author": {
      "@type": "Person",
      "name": {{ $authorName | jsonify }},
      "url": {{ $authorUrl | jsonify }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ absURL "/" | jsonify }}
      {{- with $logo }},
      "logo": {{ . | jsonify }}
      {{- end }}
    },
    "breadcrumb": {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": {{ $breadcrumbs | jsonify }}
    }
  }
{{- else if eq .Section "posts" -}}
  {{- /* Post page */ -}}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title | jsonify }},
    {{- with $.Scratch.Get "coverImage" }}
    "image": {{ . | absURL | jsonify }},
    {{- end }}
    "datePublished": {{ .PublishDate | jsonify }},
    "dateModified": {{ .Lastmod | jsonify }},
    "inLanguage": {{ .Lang | jsonify }},
    "author": {
      "@type": "Person",
      "name": {{ $authorName | jsonify }},
      "url": {{ $authorUrl | jsonify }}
    },
    "mainEntityOfPage": { 
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ absURL "/" | jsonify }}
      {{- with $logo }},
      "logo": {{ . | jsonify }}
      {{- end }}
    },
    "description": {{ $desc | jsonify }},
    "keywords": {{ partial "kwlist.html" . }},
    "breadcrumb": {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": {{ $breadcrumbs | jsonify }}
    }
  }
{{- else -}}
  {{- /* Other pages */ -}}
  {  
    "@context": "http://schema.org",
    "@type": "WebPage",
    "url": {{ $href | jsonify }},
    "name": {{ .Title | jsonify }},
    "author": {
      "@type": "Person",
      "name": {{ $authorName | jsonify }},
      "url": {{ $authorUrl | jsonify }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ absURL "/" | jsonify }}
      {{- with $logo }},
      "logo": {{ . | jsonify }}
      {{- end }}
    }
  }
{{- end -}}
</script>
