{{- if .Params.coverimage -}}
  {{- with .Resources.GetMatch ( .Params.coverimage ) -}}
    {{- $.Scratch.Set "coverImage" (.RelPermalink) -}}
  {{- else -}}
    {{- $.Scratch.Set "coverImage" (.Params.coverimage) -}}
  {{- end -}}
{{- end -}}


<script type="application/ld+json">
{{- if .Scratch.Get "taxonomy_home" -}}
  {{/* this a home page of a taxononmy */}}
  {  
    "@context": "http://schema.org",
    "@type": "WebPage",
    "url": {{ .Permalink }},
    "inLanguage": {{ .Lang }},
    "name":"{{ .Title }}",
    "description":"{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "keywords": {{ partial "kwlist.html" . }},
    "author": {
      "@type": "Person",
      "name": {{ .Site.Author.name }},
      "url": "https://www.practicalmachinist.com/forum/members/sbs.149146/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": {{ absURL "/" }},
      {{- with ($.Scratch.Get "authorPicture") }}
      "logo": {{ . }}
      {{- end }}
    },
    "breadcrumb": {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement":
      [
        {{- $i := 1 }}
        {{- range .Ancestors.Reverse }}
          {
            "@type": "ListItem",
            "position": {{ $i }},
            "name": "{{ .Title | safeJS }}",
            "item": {{ .Permalink }}
          },
          {{- $i = add $i 1 -}}
        {{ end }}
          {
            "@type": "ListItem",
            "position": {{ $i }},
            "name": "{{ .Title | safeJS }}",
            "item": {{ .Permalink }}
          }
        ]
      }
  }
{{- else if eq .Section "posts" }}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    {{- if .Params.coverimage }}
    "image": {{ $.Scratch.Get "coverImage" | absURL }},
    {{- end }}
    "datePublished": {{ .PublishDate }},
    "dateModified": {{ .Lastmod }},
    "inLanguage": {{ .Lang }},
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Author.name }}",
      "url": "https://www.practicalmachinist.com/forum/members/sbs.149146/"
    },
    "mainEntityOfPage": { 
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": {{ absURL "/" }},
      {{- with ($.Scratch.Get "authorPicture") }}
      "logo": {{ . }},
      {{- end }}
    },
    "description": {{ .Summary | plainify | safeHTML }},
    "keywords" : {{ partial "kwlist.html"  . }}
  }
{{ else }}
  {  
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": {{ .Permalink }},
    "author": {
      "@type": "Person",
      "name": {{ .Site.Author.name }},
      "url": "https://www.practicalmachinist.com/forum/members/sbs.149146/"
    },
    "name":"{{ .Site.Title }}",
    "description":"{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "keywords": {{ partial "kwlist.html" . }}
  }
{{- end -}}
</script>
